<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KukuPay Market Place</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div>
                <a href="index.html">kukuPay Market Place</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Product1</li>
                <li>Product2</li>
                <li>Product3</li>
                <li>Product4</li>
            </ul>
        </main>
        <footer>All rights reserved</footer>
    </div>
</body>
</html>